<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjt.mapper.UserMapper">
    <insert id="insert" parameterType="com.fjt.pojo.entity.User">
        INSERT INTO warehouse_user(username, password, real_name, phone, email, role, status)
        VALUES(#{username}, #{password}, #{realName}, #{phone}, #{email}, #{role}, #{status})
    </insert>

    <update id="update" parameterType="com.fjt.pojo.entity.User">
        UPDATE warehouse_user
        <set>
            <if test="username != null and username != ''">username=#{username},</if>
            <if test="password != null and password != ''">password=#{password},</if>
            <if test="realName != null and realName != ''">real_name=#{realName},</if>
            <if test="phone != null and phone != ''">phone=#{phone},</if>
            <if test="email != null and email != ''">email=#{email},</if>
            <if test="role != null">role=#{role},</if>
            <if test="status != null">status=#{status},</if>
        </set>
        WHERE id=#{id}
    </update>

    <update id="deleteById">
        UPDATE warehouse_user SET status=0 WHERE id=#{id}
    </update>

    <select id="findById" resultType="com.fjt.pojo.entity.User">
        SELECT * FROM warehouse_user WHERE id=#{id} AND status=1
    </select>

    <select id="findByUsername" resultType="com.fjt.pojo.entity.User">
        SELECT * FROM warehouse_user WHERE username=#{username} AND status=1
    </select>

    <select id="search" resultType="com.fjt.pojo.entity.User">
        SELECT * FROM warehouse_user
        <where>
            status=1
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="realName != null and realName != ''">
                AND real_name LIKE CONCAT('%', #{realName}, '%')
            </if>
            <if test="role != null">
                AND role = #{role}
            </if>
        </where>
        ORDER BY created_at DESC
    </select>
</mapper>
