<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjt.mapper.WarehouseMapper">
    <insert id="insert" parameterType="com.fjt.pojo.entity.Warehouse">
        INSERT INTO warehouse(code, name, location, capacity, description, status)
        VALUES(#{code}, #{name}, #{location}, #{capacity}, #{description}, #{status})
    </insert>

    <update id="update" parameterType="com.fjt.pojo.entity.Warehouse">
        UPDATE warehouse
        <set>
            <if test="code != null and code != ''">code=#{code},</if>
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="location != null and location != ''">location=#{location},</if>
            <if test="capacity != null">capacity=#{capacity},</if>
            <if test="description != null">description=#{description},</if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="findById" resultType="com.fjt.pojo.entity.Warehouse">
        SELECT * FROM warehouse WHERE id=#{id}
    </select>

    <select id="findByCode" resultType="com.fjt.pojo.entity.Warehouse">
        SELECT * FROM warehouse WHERE code=#{code}
    </select>

    <select id="search" resultType="com.fjt.pojo.entity.Warehouse">
        SELECT * FROM warehouse
        <where>
            <if test="code != null and code != ''">
                AND code LIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="location != null and location != ''">
                AND location LIKE CONCAT('%', #{location}, '%')
            </if>
        </where>
        ORDER BY code
    </select>
</mapper>
